@using WU15.DesignPatterns.ViewModel.Core.Utilitys
@using WU15.DesignPatterns.ViewModel.Core.Domain

@model IDictionary<Project, List<TimeEntry>>

@{
    ViewBag.Title = "GroupByProject";
}

@foreach (var project in Model)
{
    <h3>@project.Key.Name</h3>

    <table class="table">
        <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Hours</th>
        </tr>

        @foreach (var timeEntry in project.Value)
        {
            <tr>
                <td>
                    @Html.ActionLink(timeEntry.Description.Truncate(15), "Edit", new { id = timeEntry.Id })
                </td>
                <td>
                    @timeEntry.Date.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => timeEntry.Hours)
                </td>
            </tr>
        }

    </table>


}