@model WU15.DesignPatterns.ViewModel.Web.Models.HourSummaryViewModel

<h3>Summary</h3>

<p>Total hours: @Model.TotalHours </p>

<p>Total number of projects: @Model.TotalNumberOfProjects </p>

<p>Number of projects without time entries: @Model.NumberOfProjectsWithoutTimeEntries </p>